*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

form ul li h1 input button i{
	width:100%;
	height: auto;
	position: relative;
	background: black;
	color: white;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	background-color: black;
	
}

.bold{
	width:100%;
	height: auto;
}

.bold ul li {
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	float:left;
	padding:35px;;
}

.bold ul li input{
	font-size: 15px;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	background: transparent;
	border:0px;
	overflow: hidden;
	cursor: pointer;
}

.bold ul li button{
	font-size: 25px;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
	background: transparent;
	border:0px;
	overflow: hidden;
	cursor: pointer;
	padding-right:30px;
}